:root{
    --bg-color:#1e1e1e;
    
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: red;
}
body{
    background-color: #84e5ec4c;
    margin: 0;
    padding: 0;
    width: 100%;
}
.form_box{
    display: flex;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}

.Seting {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10%;
}

.close {
    position: absolute;
    right: 10%;
    top: 10%;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.box_container{
    border-radius: 20px;
    margin: 1% 20%;
    padding: 20px;
    box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, .05)
}
.item>input[type=text],
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
}
.button>button{

    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin: 20px;
    height: 40px;
    width: 150px;
    /* padding: 0px 25px; */
    
}
.button {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 500px) {
    .box_container{
        border-radius: 20px;
        margin: 20% 10%;
        padding: 20px;
        box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, .05)
    }
}
@media screen and (min-width: 500px)and (max-width: 1000px) {
    .box_container{
        border-radius: 20px;
        margin: 15% 20%;
        padding: 20px;
        box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, .05)
    }
}