:root {
  --bg-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://cdn.jsdelivr.net/gh/bgvioletsky/XS_Resource@0.1.1/html/src/background.png);
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
}

.form_box {
  display: flex;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

.header {
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  top: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 2;
}

.nav {
  height: 60px;
  min-height: 60px;
  max-height: 75px;
  width: calc(100% - 20vw);
  display: flex;
  align-items: center;
  top: 0;
  margin: 0 auto;
  padding: 0 20px;
  gap: 50px;
}

.nav-logo > a {
  font-size: 2.5em;
}

.nav-toggle {
  width: 80vw;
  min-width: 350px;
}
.nav-menu {
  display: flex;
  width: 100%;
  padding: 3px;
  border-radius:25px ;
  gap: 16px;

}
.nav-search {
  width: 20vw;
  display: flex;
  flex-direction: row;
}
.nav-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 10vh;
  min-width: 60px;
  height: 30px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}
.nav-item:hover {
  box-shadow: 0 0 0 rgba(233, 251, 96, 0.061), 0 0 0 rgba(255, 255, 255, 0.8),
    inset 8px 8px 18px rgba(0, 0, 0, 0.1),
    inset -8px -8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.nav-item::after{
    background-color:rgba(0, 0, 0, 0.1) ;
}

.Seting {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  /* height: 100vh; */
  min-height: 800px;
}



.box_container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #34ffffa8;
  width: calc(100% - 20vw);
  height: calc(100% - 30vh);
  margin: 120px auto;
  padding: 30px;
  box-shadow: 4px 5px 5px 6px rgba(144, 255, 255, 0.05);
  background-color: #34ffffa8;
  z-index: 2;
  overflow: hidden;
}

.item > input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 30px;
}

.button > button {
  background-color: #e0d9efeb;
  color: rgba(39, 49, 238, 0.841);
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin: 20px;
  height: 40px;
  width: 150px;
}

.button {
  display: flex;
  justify-content: space-around;
}
.bg_mv {
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.2),
    -8px -8px 18px rgba(255, 255, 255, 1);
  transition: all 0.2s ease-out;
}
.bg_mv:hover {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(233, 251, 96, 0.061), 0 0 0 rgba(255, 255, 255, 0.8),
    inset 8px 8px 18px rgba(0, 0, 0, 0.1),
    inset -8px -8px 18px rgba(255, 255, 255, 1);
}
.bg_mv:focus {
  background-color: antiquewhite;
}

@media screen and (max-width: 810px)  {
    .header{
        height: 80px;
    }
    .nav {
        height: 5vh;
        flex-direction: column;   
        align-items: center;
        gap: 0px;
        margin: 0 auto;
      }
      .nav-menu{
        justify-content: center;
        gap: 2px;
      }
      .nav-logo > a {
        font-size: 2em;
      }
    
}

.content1 {
  display: flex;
  margin-top: 20px;
  padding: 10vh 0;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.book-list {
  width: 80%;
  height: calc(100% - 20vh);
  margin: 5vh auto;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid aliceblue;
  background-color: aliceblue;
  border-radius: 15px;
}
.book-list > li {
  background-color: #3be188;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  gap: 5px;
}
.source-url{
  overflow: hidden;
}
li.book_info{
  grid-column-start: 1;
  grid-column-end: -1;
}
.book-mid-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
.btn {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top:3px ;
}
.btn>a{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-width: 60px;
  height: 30px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}
.btn>a:hover {
  box-shadow: 0 0 0 rgba(233, 251, 96, 0.061), 0 0 0 rgba(255, 255, 255, 0.8),
    inset 8px 8px 18px rgba(0, 0, 0, 0.1),
    inset -8px -8px 18px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
@media screen and (max-width: 900px) {
  .book-list {
    width: 80%;
    height: calc(100% - 10vh);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid aliceblue;

    border-radius: 15px;
  }
}
@media screen and (max-width: 600px) {
  .book-list {
    width: 80%;
    height: calc(100% - 10vh);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 15px;
  }
}
